@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* Typography */

@font-face {
  font-family: 'karlabold';
  src: url('/fonts/karla/karla-bold-webfont.eot');
  src: url('/fonts/karla/karla-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/karla/karla-bold-webfont.woff2') format('woff2'),
  url('/fonts/karla/karla-bold-webfont.woff') format('woff'),
  url('/fonts/karla/karla-bold-webfont.ttf') format('truetype'),
  url('/fonts/karla/karla-bold-webfont.svg#karlabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karlabolditalic';
  src: url('/fonts/karla/karla-bolditalic-webfont.eot');
  src: url('/fonts/karla/karla-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/karla/karla-bolditalic-webfont.woff2') format('woff2'),
  url('/fonts/karla/karla-bolditalic-webfont.woff') format('woff'),
  url('/fonts/karla/karla-bolditalic-webfont.ttf') format('truetype'),
  url('/fonts/karla/karla-bolditalic-webfont.svg#karlabolditalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karlaitalic';
  src: url('/fonts/karla/karla-italic-webfont.eot');
  src: url('/fonts/karla/karla-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/karla/karla-italic-webfont.woff2') format('woff2'),
  url('/fonts/karla/karla-italic-webfont.woff') format('woff'),
  url('/fonts/karla/karla-italic-webfont.ttf') format('truetype'),
  url('/fonts/karla/karla-italic-webfont.svg#karlaitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karlaregular';
  src: url('/fonts/karla/karla-regular-webfont.eot');
  src: url('/fonts/karla/karla-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/karla/karla-regular-webfont.woff2') format('woff2'),
  url('/fonts/karla/karla-regular-webfont.woff') format('woff'),
  url('/fonts/karla/karla-regular-webfont.ttf') format('truetype'),
  url('/fonts/karla/karla-regular-webfont.svg#karlaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_problack';
  src: url('/fonts/sourcesanspro/sourcesanspro-black-webfont.eot');
  src: url('/fonts/sourcesanspro/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/sourcesanspro/sourcesanspro-black-webfont.woff2') format('woff2'),
  url('/fonts/sourcesanspro/sourcesanspro-black-webfont.woff') format('woff'),
  url('/fonts/sourcesanspro/sourcesanspro-black-webfont.ttf') format('truetype'),
  url('/fonts/sourcesanspro/sourcesanspro-black-webfont.svg#source_sans_problack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_probold';
  src: url('/fonts/sourcesanspro/sourcesanspro-bold-webfont.eot');
  src: url('/fonts/sourcesanspro/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/sourcesanspro/sourcesanspro-bold-webfont.woff2') format('woff2'),
  url('/fonts/sourcesanspro/sourcesanspro-bold-webfont.woff') format('woff'),
  url('/fonts/sourcesanspro/sourcesanspro-bold-webfont.ttf') format('truetype'),
  url('/fonts/sourcesanspro/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_proitalic';
  src: url('/fonts/sourcesanspro/sourcesanspro-italic-webfont.eot');
  src: url('/fonts/sourcesanspro/sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/sourcesanspro/sourcesanspro-italic-webfont.woff2') format('woff2'),
  url('/fonts/sourcesanspro/sourcesanspro-italic-webfont.woff') format('woff'),
  url('/fonts/sourcesanspro/sourcesanspro-italic-webfont.ttf') format('truetype'),
  url('/fonts/sourcesanspro/sourcesanspro-italic-webfont.svg#source_sans_proitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_prolight';
  src: url('/fonts/sourcesanspro/sourcesanspro-light-webfont.eot');
  src: url('/fonts/sourcesanspro/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/sourcesanspro/sourcesanspro-light-webfont.woff2') format('woff2'),
  url('/fonts/sourcesanspro/sourcesanspro-light-webfont.woff') format('woff'),
  url('/fonts/sourcesanspro/sourcesanspro-light-webfont.ttf') format('truetype'),
  url('/fonts/sourcesanspro/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_proregular';
  src: url('/fonts/sourcesanspro/sourcesanspro-regular-webfont.eot');
  src: url('/fonts/sourcesanspro/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/sourcesanspro/sourcesanspro-regular-webfont.woff2') format('woff2'),
  url('/fonts/sourcesanspro/sourcesanspro-regular-webfont.woff') format('woff'),
  url('/fonts/sourcesanspro/sourcesanspro-regular-webfont.ttf') format('truetype'),
  url('/fonts/sourcesanspro/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_prosemibold';
  src: url('/fonts/sourcesanspro/sourcesanspro-semibold-webfont.eot');
  src: url('/fonts/sourcesanspro/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/sourcesanspro/sourcesanspro-semibold-webfont.woff2') format('woff2'),
  url('/fonts/sourcesanspro/sourcesanspro-semibold-webfont.woff') format('woff'),
  url('/fonts/sourcesanspro/sourcesanspro-semibold-webfont.ttf') format('truetype'),
  url('/fonts/sourcesanspro/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'source_sans_proregular';
}

h1 {
  font-family: 'karlabold';
}

h2 {
  font-family: 'karlabold';
}

h3 {
  font-family: 'karlabold';
}

h4 {
  font-family: 'karlabold';
}

.main-logo-wrap {

  margin-top: 30px;
  margin-bottom: 30px;

  .row {

    div {

      text-align: center;

      img {
        width: 400px;
        max-width: 100%;
      }
    }
  }
}


/* Globals */

.clear {
  clear: both;
}

hr {
  margin-top: 10px !important;
}

.btn {
  letter-spacing: 1px !important;
}

.form-add-director {

  div[class*="col-"] {
    padding: 0 !important;
  }
}

.label {
  font-size: 100% !important;
  letter-spacing: 1px;
}

/* Globals End */

//SIDEBAR

body,html{
  height: 100%;
}

.navbar-brand-wrap {

  border-bottom: 1px solid #DDDDDD;

  .logo-wrap {
    float: left;

    .navbar-brand {
      line-height: 26px !important;
    }

    .bareos-logo {
      float: left;
      display: inline;
      padding: 10px 0 10px 6px;
    }

    .app-name {
      font-family: "karlabold" !important;
      font-size: 22px;
      //color: #636B71;
      color: #555555;
      display: inline;
      padding: 20px 0 0 5px;
      text-decoration: none;
      width: 55% !important;
      float: left;
      text-align: left !important;
      text-transform: uppercase;
    }
  }

  .mobile-nav-toggle {
    float: right;

    .navbar-toggle {
      margin-top: 15px !important;
    }
  }
}

nav.sidebar, .main{
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

.navbar-default {
  background-color: #FFFFFF !important;
  border-color: #DDDDDD !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  border-radius: 0 !important;
}

.navbar-nav > li > a {
  color: #555555;
  letter-spacing: 1px;
  padding-left: 15px;
}
.navbar-default .navbar-nav > li > a {
  color: #555555;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #222222;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #FDFDFD !important;
  border-right: 1px solid #DDDDDD;
}

.main{
  padding: 10px 10px 0 10px;
}

@media (max-width: 764px) {
  .dropdown-menu {
    background-color: #F3F5F8;
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: transparent !important;
  }

  .navbar-nav > li > .dropdown-menu {
    border-radius: 0 !important;
  }

  nav.sidebar .navbar-nav .open .dropdown-menu {
    background-color: #F3F5F8 !important;
  }

  .small-nav {
    display: none !important;
  }

  /* Directors Section */
  .add-button {
    margin-bottom: 15px;
  }
}
@media (min-width: 765px) {

  .main{
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 40px;
    float: right;
  }

  .navback {
    position: fixed;
    top: 0;
    bottom: -120px;
    z-index: 1;
    background-color: #FFFFFF;
    border-right: 1px #DDDDDD solid;
    width: 200px;
  }

  .navtop {
    position: relative;
    float: left;
    z-index: 9999;
    width: 200px;
  }

  .dropdown-menu {
    width: 199px;
    border-right: 1px solid #DDDDDD !important;
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: transparent !important;
  }

  .navbar-nav > li > .dropdown-menu {
    border-radius: 0 !important;
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #5A5A5A;
  }

  nav.sidebar:hover + .main{
    margin-left: 200px;
  }

  nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }

  nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  nav.sidebar a{
    padding-right: 19px;
  }

  nav.sidebar .navbar-nav > li:first-child{
    //border-top: 1px #e5e5e5 solid;
  }

  nav.sidebar .navbar-nav > li{
    border-bottom: 1px #DDDDDD solid;
    border-right: 0 !important;
  }

  nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: #F3F5F8 !important;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }

  nav.sidebar{
    width: 200px;
    height: 100vh;
    margin-left: -147px;
    float: left;
    margin-bottom: 0px;

    .navtop {

      .navbar-brand-wrap {

        .logo-wrap {

          float: right;

          .navbar-brand-app-name {
            display: none;
          }

          .bareos-logo {
            float: right;

            img {
              max-width: 100%;
            }
          }
        }
      }
    }

    .small-nav {
      display: inline;
      float: right;
    }
  }

  nav.sidebar li {
    width: 100%;
  }

  nav.sidebar:hover{
    margin-left: 0px;

    .navtop {

      .navbar-brand-wrap {

        .logo-wrap {

          float: left;

          .navbar-brand-app-name {
            display: inline;
          }

          .bareos-logo {
            float: left;

            img {
              max-width: 100%;
            }
          }
        }
      }
    }

    .small-nav {
      display: none;
    }
  }

  /* Content Containers */

  .content-container {
    padding-left: 53px;
    padding-top: 27px;
    width: 100% !important;

    .row {
      margin: 0 !important;
    }

    .col-md-12 {
      float: left;
      width: 100%;
    }
  }

  nav.sidebar:hover + .content-container {
      padding-left: 200px;
  }

  .forAnimate{
    opacity: 0;
  }

  /* Directors Section */
  .add-button {
    margin-bottom: 15px;
  }
}

@media (min-width: 1330px) {

  .main{
    width: calc(100% - 200px);
    margin-left: 200px;
  }

  nav.sidebar{
    margin-left: 0px;
    float: left;

    .navtop {

      .navbar-brand-wrap {

        .logo-wrap {

          float: left;

          .navbar-brand-app-name {
            display: inline;
          }

          .bareos-logo {
            float: left;

            img {
              max-width: 100%;
            }
          }
        }
      }
    }

    .small-nav {
      display: none;
      float: right;
    }
  }

  nav.sidebar .forAnimate{
    opacity: 1;
  }

  /* Content Containers */

  .content-container {
    padding-left: 200px;
    padding-top: 27px;
    width: 100% !important;

    .row {
      margin: 0 !important;
    }
  }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #5A5A5A;
}

nav:hover .forAnimate{
  opacity: 1;
}
section{
  padding-left: 15px;
}