@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/* Typography */

@font-face {
  font-family: 'karlabold';
  src: url('/fonts/karla/karla-bold-webfont.eot');
  src: url('/fonts/karla/karla-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/karla/karla-bold-webfont.woff2') format('woff2'),
  url('/fonts/karla/karla-bold-webfont.woff') format('woff'),
  url('/fonts/karla/karla-bold-webfont.ttf') format('truetype'),
  url('/fonts/karla/karla-bold-webfont.svg#karlabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karlabolditalic';
  src: url('/fonts/karla/karla-bolditalic-webfont.eot');
  src: url('/fonts/karla/karla-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/karla/karla-bolditalic-webfont.woff2') format('woff2'),
  url('/fonts/karla/karla-bolditalic-webfont.woff') format('woff'),
  url('/fonts/karla/karla-bolditalic-webfont.ttf') format('truetype'),
  url('/fonts/karla/karla-bolditalic-webfont.svg#karlabolditalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karlaitalic';
  src: url('/fonts/karla/karla-italic-webfont.eot');
  src: url('/fonts/karla/karla-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/karla/karla-italic-webfont.woff2') format('woff2'),
  url('/fonts/karla/karla-italic-webfont.woff') format('woff'),
  url('/fonts/karla/karla-italic-webfont.ttf') format('truetype'),
  url('/fonts/karla/karla-italic-webfont.svg#karlaitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karlaregular';
  src: url('/fonts/karla/karla-regular-webfont.eot');
  src: url('/fonts/karla/karla-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/karla/karla-regular-webfont.woff2') format('woff2'),
  url('/fonts/karla/karla-regular-webfont.woff') format('woff'),
  url('/fonts/karla/karla-regular-webfont.ttf') format('truetype'),
  url('/fonts/karla/karla-regular-webfont.svg#karlaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_problack';
  src: url('/fonts/sourcesanspro/sourcesanspro-black-webfont.eot');
  src: url('/fonts/sourcesanspro/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/sourcesanspro/sourcesanspro-black-webfont.woff2') format('woff2'),
  url('/fonts/sourcesanspro/sourcesanspro-black-webfont.woff') format('woff'),
  url('/fonts/sourcesanspro/sourcesanspro-black-webfont.ttf') format('truetype'),
  url('/fonts/sourcesanspro/sourcesanspro-black-webfont.svg#source_sans_problack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_probold';
  src: url('/fonts/sourcesanspro/sourcesanspro-bold-webfont.eot');
  src: url('/fonts/sourcesanspro/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/sourcesanspro/sourcesanspro-bold-webfont.woff2') format('woff2'),
  url('/fonts/sourcesanspro/sourcesanspro-bold-webfont.woff') format('woff'),
  url('/fonts/sourcesanspro/sourcesanspro-bold-webfont.ttf') format('truetype'),
  url('/fonts/sourcesanspro/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_proitalic';
  src: url('/fonts/sourcesanspro/sourcesanspro-italic-webfont.eot');
  src: url('/fonts/sourcesanspro/sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/sourcesanspro/sourcesanspro-italic-webfont.woff2') format('woff2'),
  url('/fonts/sourcesanspro/sourcesanspro-italic-webfont.woff') format('woff'),
  url('/fonts/sourcesanspro/sourcesanspro-italic-webfont.ttf') format('truetype'),
  url('/fonts/sourcesanspro/sourcesanspro-italic-webfont.svg#source_sans_proitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_prolight';
  src: url('/fonts/sourcesanspro/sourcesanspro-light-webfont.eot');
  src: url('/fonts/sourcesanspro/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/sourcesanspro/sourcesanspro-light-webfont.woff2') format('woff2'),
  url('/fonts/sourcesanspro/sourcesanspro-light-webfont.woff') format('woff'),
  url('/fonts/sourcesanspro/sourcesanspro-light-webfont.ttf') format('truetype'),
  url('/fonts/sourcesanspro/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_proregular';
  src: url('/fonts/sourcesanspro/sourcesanspro-regular-webfont.eot');
  src: url('/fonts/sourcesanspro/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/sourcesanspro/sourcesanspro-regular-webfont.woff2') format('woff2'),
  url('/fonts/sourcesanspro/sourcesanspro-regular-webfont.woff') format('woff'),
  url('/fonts/sourcesanspro/sourcesanspro-regular-webfont.ttf') format('truetype'),
  url('/fonts/sourcesanspro/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_prosemibold';
  src: url('/fonts/sourcesanspro/sourcesanspro-semibold-webfont.eot');
  src: url('/fonts/sourcesanspro/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/sourcesanspro/sourcesanspro-semibold-webfont.woff2') format('woff2'),
  url('/fonts/sourcesanspro/sourcesanspro-semibold-webfont.woff') format('woff'),
  url('/fonts/sourcesanspro/sourcesanspro-semibold-webfont.ttf') format('truetype'),
  url('/fonts/sourcesanspro/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'source_sans_proregular' !important;
}

button {
  letter-spacing: 1px !important;
}

.label {
  font-size: 95% !important;
}

@media screen and (min-width: 300px) {
  .bareos-logo {
    max-width: 100%;
  }

  h1, h2, h3, h4 {
    font-family: 'karlaregular' !important;
  }

  .app-name {
    font-family: "karlabold" !important;
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
  }

  .auth-footer {
    background-color: #FFFFFF;
    padding: 15px;
    color: #444444;
    border-top: 1px solid #D2D6DE;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .message-container {
    position: relative;
    padding: 15px 15px 0 15px;
  }

  .bootstrap-select {
    button {
      background-color: transparent !important;
      border-radius: 0 !important;
      border: 1px solid #D2D6DE !important;
      padding: 6px 12px !important;
    }
  }

  .dropdown-menu {
    background-color: #FFFFFF;
    border-radius: 0 !important;
    border: 1px solid #CCCCCC !important;
    border-top: 0 !important;
    border-right: 0 !important;
    padding: 0 !important;
    margin: 0 !important;

    .inner {
      border: 0 !important;
    }

    li {

      color: #333333;

      a {
        padding: 3px 10px !important;
        color: #333333 !important;
      }

      li.selected {
        background-color: #DDDDDD !important;
      }

      a:hover {
        background-color: #3C8DBC !important;
        color: #FFFFFF !important;
      }
    }
  }

  .section-heading {

    h4 {
      margin-bottom: 0 !important;
    }

    hr {
      margin-top: 10px !important;
    }
  }

  .btn-group.open .dropdown-toggle {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
  }

  .clearfix {
    clear: both;
  }

  .inline-select {
    width: auto !important;
    margin-left: 5px !important;
  }

  .skin-black .main-header > .navbar .nav > li > a:hover, .skin-black .main-header > .navbar .nav .open > a:hover {
    background: #3C8DBC !important;
    color: #FFFFFF !important;
  }

  .skin-black .main-header > .navbar .nav > li > a:active, .skin-black .main-header > .navbar .nav > li > a:focus, .skin-black .main-header > .navbar .nav .open > a, .skin-black .main-header > .navbar .nav .open > a:focus, .skin-black .main-header > .navbar .nav > .active > a {
    background: #357CA5 !important;
    color: #FFFFFF !important;
  }

  .director-select-wrapper {

    position: relative;
    top: -5%;
    padding-top: 3%;
    padding-right: 15px;

    #director-select-form {

      .director-select-label-wrap {
        padding: 6px 5px 4px 0;
        display: inline-block;

        label {
          display: inline !important;
          margin: 0 !important;
        }
      }

      .director-select-wrap {
        display: inline-block;

        .bootstrap-select {

          button {

            width: 120px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 410px) {

  .director-select-wrapper {

    padding-top: 3%;
    padding-right: 15px;

    #director-select-form {

      .director-select-label-wrap {
        padding: 6px 5px 4px 0;
        display: inline-block;

        label {
          display: inline !important;
          margin: 0 !important;
        }
      }

      .director-select-wrap {
        display: inline-block;

        .bootstrap-select {

          button {

            width: 150px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {

  .app-name {
    color: #555555;
  }
}